#recommandations {
  border: 1px solid #c1c1c1;
}
#recommandations span,
#recommandations div,
#recommandations button {
  text-transform: uppercase;
  font-weight: bold;
}
#recommandations form.add_to_cart_btn {
  padding-top: 10px;
}
#recommandations .title_xsell {
  color: #e2001a;
  text-align: center;
  border-bottom: 1px solid #c1c1c1;
  padding: 5px;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: bold;
}
#recommandations .body_xsell .continue_button {
  background-color: #ffffff;
  font-size: 12px;
  padding: 7px 15px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #c1c1c1;
  color: #636466;
}
#recommandations .body_xsell .continue_button:hover {
  background-color: #636466;
  color: #ffffff;
}
#recommandations .body_xsell div.product_xsell {
  float: left;
  width: 213px;
  border-right: 1px solid #c1c1c1;
  margin: 20px 0px;
  padding: 0px 15px;
}
#recommandations .body_xsell div.product_xsell a {
  text-decoration: none;
  font-style: normal;
}
#recommandations .body_xsell div.product_xsell a img {
  border: none;
}
#recommandations .body_xsell div.product_xsell a div.product_family {
  color: #636466;
  font-size: 13px;
  text-transform: none;
  margin-bottom: 5px;
  word-break: break-word;
  min-height: 30px;
}
#recommandations .body_xsell div.product_xsell a div.product_brand,
#recommandations .body_xsell div.product_xsell a div.product_ref {
  color: #e2001a;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#recommandations .body_xsell div.product_xsell a div.product_brand {
  font-size: 16px;
  padding-bottom: 2px;
}
#recommandations .body_xsell div.product_xsell a div.product_ref {
  font-size: 12px;
}
#recommandations .body_xsell div.product_xsell:nth-child(4) {
  border-right: none;
}
#recommandations .body_xsell div.product_xsell span.prix_xsell {
  color: black;
  background-color: #ffcd00;
  font-weight: bold;
  float: right;
  height: 19px;
  padding: 2px 8px 5px 8px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
}
#recommandations .body_xsell div.product_xsell .darty_product_rating {
  float: left;
}
#recommandations .body_xsell div.product_xsell .sprite {
  background: url("../order_pipe/old_desktop/sales_process/common/images/sprites-nta.png") no-repeat -137px -236px;
  width: 68px;
  height: 14px;
  margin-right: 3px;
}
#recommandations .body_xsell div.product_xsell .darty_product_rating {
  padding: 5px 0;
  color: #5e5d5d;
  font-size: 10px;
  line-height: 21px;
}
#recommandations .body_xsell div.product_xsell .darty_product_rating span {
  background: url("../order_pipe/old_desktop/sales_process/common/images/sprites-nta.png") no-repeat -136px -219px;
  width: 68px;
  height: 14px;
}
#recommandations .body_xsell div.product_xsell .image {
  height: 180px;
  vertical-align: middle;
  display: inline-block;
}
.ie7 #recommandations .body_xsell {
  height: 341px;
}
.ie7 #recommandations .body_xsell div.product_xsell .button_xsell {
  float: none;
}
.ie7 #recommandations .body_xsell #product_xsell_4 {
  border-right: none;
}

.modify {
  margin: 5px 0;
}
.modify a {
  color: #4b4b4d;
}
.darty_prix_barre {
  color: #636466;
}
.caption-hidden {
  position: absolute;
  left: -9999em;
}
#recapProducts tr:last-child td {
  border-bottom: 1px solid #c1c1c1;
}
#recapProducts td {
  vertical-align: middle;
}
#recapProducts,
#recapSubscription {
  border-collapse: collapse;
  font-size: 12px;
  font-weight: bold;
  width: 1000px;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  text-align: center;
}
#recapProducts .precision,
#recapSubscription .precision {
  font-weight: normal;
  font-size: 12px;
  margin-top: 5px;
}
#recapProducts tr,
#recapSubscription tr {
  border-top: 1px solid #c1c1c1;
}
#recapProducts tr:first-child,
#recapSubscription tr:first-child {
  border-top: none;
}
#recapProducts th.line,
#recapSubscription th.line,
#recapProducts td.line,
#recapSubscription td.line {
  border-left: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
}
#recapProducts th.line .infoProduct,
#recapSubscription th.line .infoProduct,
#recapProducts td.line .infoProduct,
#recapSubscription td.line .infoProduct {
  padding-bottom: 30px;
}
#recapProducts th.line > div,
#recapSubscription th.line > div,
#recapProducts td.line > div,
#recapSubscription td.line > div {
  margin: 5px 0;
}
#recapProducts th.bundleFirstline,
#recapSubscription th.bundleFirstline,
#recapProducts td.bundleFirstline,
#recapSubscription td.bundleFirstline {
  border-bottom: 1px solid transparent;
}
#recapProducts th.bundleFirstline .infoProduct,
#recapSubscription th.bundleFirstline .infoProduct,
#recapProducts td.bundleFirstline .infoProduct,
#recapSubscription td.bundleFirstline .infoProduct {
  padding-left: 25px;
  padding-bottom: 15px;
}
#recapProducts th.bundleFirstline.quantity,
#recapSubscription th.bundleFirstline.quantity,
#recapProducts td.bundleFirstline.quantity,
#recapSubscription td.bundleFirstline.quantity {
  vertical-align: top;
  padding-top: 44px;
  border-left: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
}
#recapProducts th.bundleFirstline.infoShipping,
#recapSubscription th.bundleFirstline.infoShipping,
#recapProducts td.bundleFirstline.infoShipping,
#recapSubscription td.bundleFirstline.infoShipping {
  border-left: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
}
#recapProducts th.bundleFirstline.price,
#recapSubscription th.bundleFirstline.price,
#recapProducts td.bundleFirstline.price,
#recapSubscription td.bundleFirstline.price {
  border-left: 1px solid #c1c1c1;
}
#recapProducts th.bundle_element,
#recapSubscription th.bundle_element,
#recapProducts td.bundle_element,
#recapSubscription td.bundle_element {
  border-bottom: 1px solid transparent;
}
#recapProducts th.bundle_element.price,
#recapSubscription th.bundle_element.price,
#recapProducts td.bundle_element.price,
#recapSubscription td.bundle_element.price {
  border-left: 1px solid #c1c1c1;
}
#recapProducts th.last_bundle_element,
#recapSubscription th.last_bundle_element,
#recapProducts td.last_bundle_element,
#recapSubscription td.last_bundle_element {
  border-bottom: 1px solid #c1c1c1;
}
#recapProducts th.last_bundle_element.price,
#recapSubscription th.last_bundle_element.price,
#recapProducts td.last_bundle_element.price,
#recapSubscription td.last_bundle_element.price {
  border-left: 1px solid #c1c1c1;
}
#recapProducts th.firstCol,
#recapSubscription th.firstCol,
#recapProducts td.firstCol,
#recapSubscription td.firstCol {
  border-right: none;
  width: 28px;
}
#recapProducts th.firstCol + td,
#recapSubscription th.firstCol + td,
#recapProducts td.firstCol + td,
#recapSubscription td.firstCol + td {
  border-left: none;
}
#recapProducts td.fondPack,
#recapSubscription td.fondPack {
  background: #edebdd url("../order_pipe/old_desktop/common/images/pack_image.png") no-repeat center center;
  border: 1px solid #000;
  width: 28px;
}
#recapProducts td.fondPack.first_line,
#recapSubscription td.fondPack.first_line {
  border-top: none;
}
#recapProducts td.transaction,
#recapSubscription td.transaction {
  height: 28px;
  text-align: left;
  font-weight: normal;
}
#recapProducts thead,
#recapSubscription thead {
  color: #fff;
  background-color: #555555;
  text-transform: uppercase;
  line-height: 30px;
}
#recapProducts .premium-card-line td,
#recapSubscription .premium-card-line td {
  padding-top: 10px;
  padding-bottom: 10px;
}
#recapProducts .premium-card-line .label,
#recapSubscription .premium-card-line .label {
  text-align: left;
}
#recapProducts .infoProduct,
#recapSubscription .infoProduct {
  padding-top: 30px;
  text-align: left;
}
#recapProducts .infoProduct .family,
#recapSubscription .infoProduct .family {
  margin: 0;
}
#recapProducts .infoProduct .brand,
#recapSubscription .infoProduct .brand {
  font-size: 17px;
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
}
#recapProducts .infoProduct .reference,
#recapSubscription .infoProduct .reference {
  font-size: 14px;
  color: #000;
  font-weight: normal;
}
#recapProducts .infoProduct .remise,
#recapSubscription .infoProduct .remise {
  display: block;
}
#recapProducts .infoProduct .state,
#recapSubscription .infoProduct .state {
  font-weight: normal;
}
#recapProducts .infoProduct .pse,
#recapSubscription .infoProduct .pse,
#recapProducts .infoProduct .service,
#recapSubscription .infoProduct .service {
  margin: 0;
  color: #000;
}
#recapProducts .infoBundle,
#recapSubscription .infoBundle {
  padding-bottom: 15px;
  margin-left: 25px;
  text-align: left;
}
#recapProducts .infoBundle .family,
#recapSubscription .infoBundle .family {
  margin: 0;
  font-size: 11px;
}
#recapProducts .infoBundle .brand,
#recapSubscription .infoBundle .brand {
  font-size: 12px;
  color: #000;
  font-weight: normal;
}
#recapProducts .infoBundle .reference,
#recapSubscription .infoBundle .reference {
  font-size: 12px;
  color: #000;
  font-weight: normal;
}
#recapProducts .infoBundle .quantity,
#recapSubscription .infoBundle .quantity {
  font-size: 11px;
  color: #000000;
  font-weight: normal;
  background-color: transparent;
}
#recapProducts .infoBundle .state,
#recapSubscription .infoBundle .state {
  font-weight: normal;
}
#recapProducts .infoBundle .pse,
#recapSubscription .infoBundle .pse,
#recapProducts .infoBundle .service,
#recapSubscription .infoBundle .service {
  margin: 0;
  color: #000;
}
#recapProducts .infoBundle.lastBundle,
#recapSubscription .infoBundle.lastBundle {
  margin-bottom: 15px;
}
#recapProducts .quantity,
#recapSubscription .quantity {
  background-color: #faf9f5;
  width: 110px;
  font-size: 15px;
}
#recapProducts .infoShipping,
#recapSubscription .infoShipping {
  font-size: 15px;
  background-color: #edebdd;
  text-align: left;
  padding-left: 25px;
  width: 325px;
}
#recapProducts .price,
#recapSubscription .price {
  font-size: 14px;
  font-weight: normal;
  background-color: #f3f1e7;
  text-align: right;
  padding-right: 30px;
  width: 160px;
}
#recapProducts .remise,
#recapSubscription .remise {
  color: #c30071;
}
#recapProducts .price.bundleFirstline,
#recapSubscription .price.bundleFirstline {
  vertical-align: bottom;
  padding-bottom: 15px;
}
#recapProducts .psePrice,
#recapSubscription .psePrice,
#recapProducts .servicePrice,
#recapSubscription .servicePrice {
  font-size: 12px;
}
#recapProducts .pseBundlePrice,
#recapSubscription .pseBundlePrice,
#recapProducts .serviceBundlePrice,
#recapSubscription .serviceBundlePrice {
  padding-bottom: 16px;
  vertical-align: bottom;
}
#infoShipment,
#infoFrequency {
  padding: 10px 30px 10px 30px;
  font-size: 15px;
  font-weight: normal;
  border-bottom: 1px solid #c1c1c1;
}
#infoShipment p,
#infoFrequency p {
  margin: 5px 0;
}
#infoShipment .infoPrice,
#infoFrequency .infoPrice,
#infoShipment .infoFrequency,
#infoFrequency .infoFrequency {
  float: right;
}
#blocOrderTotalHt {
  padding: 20px 30px 15px 0px;
  font-size: 15px;
  font-weight: normal;
  border-bottom: 1px solid #c1c1c1;
  overflow: hidden;
  clear: both;
}
#blocOrderTotalHt p {
  padding: 5px 0px;
}
#blocOrderTotalHt p .label {
  width: 800px;
  display: inline-block;
  text-align: right;
  font-size: 15px;
  float: left;
  font-weight: normal;
}
#blocOrderTotalHt .infoPrice {
  float: right;
}
#blocOrderTotalHt .infoPriceHt {
  float: right;
  font-size: 20px;
}
#blocOrderTotalHt .label {
  width: 800px;
  display: inline-block;
  text-align: right;
  font-size: 15px;
  float: left;
  font-weight: bold;
}
#blocOrderTotalHt #totalOrder {
  clear: both;
  overflow: auto;
}
#blocOrderTotal {
  overflow: hidden;
  padding: 15px 0;
  clear: both;
}
#blocOrderTotal .total {
  font-size: 24px;
  border-radius: 5px;
  width: 180px;
  text-align: center;
  padding: 5px 0;
  float: right;
}
#blocOrderTotal .label {
  line-height: 35px;
  width: 800px;
  display: inline-block;
  text-align: right;
  font-size: 15px;
  float: left;
}
#blocOrderTotal #totalOrder {
  clear: both;
  overflow: auto;
}
#blocOrderTotal #totalOrder .total {
  background-color: #ffcd00;
  color: #000;
}
#blocOrderTotal #totalOrder .mentionsEco {
  font-weight: normal;
  font-size: 12px;
  text-align: right;
  font-style: italic;
  clear: both;
  padding-top: 5px;
}
#blocOrderTotal #blocCreditAlreadyPaid {
  clear: both;
  overflow: auto;
  margin-top: 10px;
}
#blocOrderTotal #blocCreditAlreadyPaid .total {
  color: #ffffff;
  background-color: #13a6db;
  border-radius: 5px;
  font-size: 24px;
  text-align: center;
  padding: 5px 0;
  width: 180px;
  float: right;
}
.darty_prix_barre {
  text-decoration: line-through;
}
.darty_remise {
  color: #c30071;
}
#blocSubscription {
  font-weight: normal;
  margin: 25px 0;
}
#blocSubscription #recapSubscription,
#blocSubscription #infoFrequency {
  margin: 0 0 5px 0;
  font-weight: bold;
}
#blocSubscription #recapSubscription {
  width: 500px;
}
#blocSubscription #infoFrequency {
  width: 470px;
}
#blocSubscription #mentions {
  margin: 15px 0 0 0;
}
.earn {
  display: flex;
  align-items: center;
  margin: 0;
}
.earn p {
  padding: 0px;
  font-size: 13px;
  font-weight: normal;
}
.earn p span {
  font-weight: 600;
}
.earn img {
  margin-right: 15px;
}

#darty_sales_process_receipt #evoke_block {
  margin: 15px 0 0 0;
}
#darty_sales_process_receipt #publicites_rdc {
  margin-top: 15px;
  overflow: hidden;
  width: 1000px;
  max-height: 500px;
}
#darty_sales_process_receipt #publicites_rdc #pub_gauche,
#darty_sales_process_receipt #publicites_rdc #pub_droite {
  float: left;
  text-align: center;
  margin-right: 20px;
}
#darty_sales_process_receipt #publicites_rdc #pub_gauche .title_advertising,
#darty_sales_process_receipt #publicites_rdc #pub_droite .title_advertising {
  display: block;
  font-size: 9px;
  text-align: center;
  color: #4d4d4d;
  height: 10px;
}
#darty_sales_process_receipt #publicites_rdc #pub_droite {
  float: right;
  width: 300px;
  margin-right: 0;
}
#darty_sales_process_receipt h1,
#darty_sales_process_receipt h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #4d4d4d;
  margin-left: 45px;
  line-height: 30px;
}
#darty_sales_process_receipt .confirmationOrder {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 745px;
}
#darty_sales_process_receipt #intro {
  margin-top: 20px;
  font-weight: normal;
}
#darty_sales_process_receipt #intro .partie_2 {
  margin-top: 10px;
}
#darty_sales_process_receipt #intro .darty_adresse {
  text-align: center;
  width: 780px;
}
#darty_sales_process_receipt #miseEnAvant {
  width: 220px;
  border: 1px solid #c1c1c1;
  height: 235px;
  background: #ffffff bottom left url('../order_pipe/old_desktop/sales_process/common/images/bg_receipt.jpg') no-repeat;
  background-position-x: -1px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#darty_sales_process_receipt #miseEnAvant .title {
  color: #ffffff;
  background-color: #555555;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  height: 15px;
  padding: 10px 0;
}
#darty_sales_process_receipt #miseEnAvant .content {
  color: #4b4b4d;
  font-weight: normal;
  font-size: 14px;
  word-break: break-word;
  padding: 10px 5px 10px 60px;
}
#darty_sales_process_receipt #adresses_infos .address_details {
  float: left;
  width: 259px;
}
#darty_sales_process_receipt #adresses_infos hr {
  margin-top: 30px;
  margin-left: 0;
  max-width: 745px;
}
#darty_sales_process_receipt #recapitulons {
  font-weight: normal;
  font-size: 15px;
  margin-top: 20px;
}
#darty_sales_process_receipt #recapitulons h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
#darty_sales_process_receipt #produitsEtTotaux {
  margin-top: 25px;
}
#darty_sales_process_receipt #blocImprimerRecu {
  overflow: auto;
  padding-top: 15px;
  margin-bottom: 30px;
}
#darty_sales_process_receipt .caption_hidden {
  height: 0;
  font-size: 0em;
}

